/******************************************
 *            TELAS MOBILE                *
 ******************************************/
* {
  margin: 0;
  padding: 0;
}

body {
  background: #F8F8F8;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

#hero {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  overflow: hidden;
}

#hero .logo {
  float: left;
}

.background {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/capsule-md-hero.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 425px) {
  .background {
    background: url(../images/capsule-md-hero.jpg);
    background-size: cover;
    background-position: center;
  }
}

.custom-padding {
  padding: 0px 23.5px !important;
}

.no-padding {
  padding: 0px !important;
}

/*
 * NAVBAR STICKY
 */
.sticky-pre-nav {
  perspective: 900px;
  width: 100%;
  z-index: 10;
  padding: 0 !important;
  position: fixed;
}

.sticky {
  padding-top: 16px !important;
  position: fixed;
  top: 0;
  left: 0;
  background: #3B7ADB;
}

.mx-auto {
  margin: 0 auto;
}

#preNav {
  height: 80px;
  width: 100%;
}

.nav-bar {
  padding-top: 51px;
  z-index: 10;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .nav-bar {
    padding-top: 30px;
  }
}

.nav-bar .menu {
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  text-transform: uppercase;
}

.nav-bar .menu li {
  margin: 0 1.5rem;
}

.nav-bar .menu li a {
  text-decoration: none;
  color: white;
}

.nav-bar .menu .last {
  margin-right: 0px;
}

@media screen and (max-width: 425px) {
  .nav-bar .menu {
    display: none;
  }
}

.nav-bar .right {
  float: right;
}

.nav-bar .logo {
  float: left;
}

.nav-bar .menu-responsive {
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  display: none;
  float: right;
}

@media screen and (max-width: 425px) {
  .nav-bar .menu-responsive {
    display: block;
  }
}

.animation-nav-bar {
  animation-name: rotate;
  animation-duration: 1s;
  transform-origin: top;
}

/* The animation code */
@keyframes rotate {
  from {
    background: #3B7ADB;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(45deg);
    transform-style: preserve-3d;
    transform: rotateX(-93deg);
    transform-origin: top;
  }
  to {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg);
    transform-style: preserve-3d;
    transform-origin: top;
    transform: rotateX(0deg);
  }
}

.title-post {
  margin-top: 145px;
  text-align: left;
  margin-bottom: 61px;
}

.title-post h1 {
  text-transform: uppercase;
  font-size: 118px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  line-height: 67px;
  text-align: left;
  letter-spacing: 0px;
  margin: 0;
  display: inline-block;
}

@media screen and (max-width: 425px) {
  .title-post h1 {
    font-size: 48px;
  }
}

.title-post .point {
  background: #4a90e2;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: inline-block;
}

.title-post p {
  line-height: 24px;
  padding-right: 20px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 61px;
}

.title-post a {
  background: #4a90e2;
  text-transform: none;
  text-decoration: none;
  color: #FFF;
  padding: 13px 43px;
  font-size: 17px;
  border-radius: 5px;
}

.trending-today {
  background: rgba(0, 0, 0, 0.48);
}

.trending-today p {
  text-align: left;
  line-height: 32px;
  padding-left: 34px;
  padding-right: 50px;
  border-left: 1px solid #FFFFFF;
  margin: 17px 0px;
}

.trending-today .title p {
  text-align: right;
  border: none;
  font-size: 20px;
  line-height: 10px;
}

.trending-today .title p.blue {
  color: #3B7ADB;
}

.trending-today .title .content {
  padding-right: 20px;
}

.trending-today .back {
  margin-left: -55px;
}

@media screen and (max-width: 425px) {
  .trending-today {
    display: none;
  }
}

#archive {
  padding-top: 128px;
  padding-bottom: 96px;
}

#archive .card {
  background: #FFF;
  border-radius: 10px;
}

#archive .card .img {
  width: 100%;
  height: 309px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#archive .card .img.internal-capsule {
  background-image: url(../images/internal-capsule-md.jpg);
}

#archive .card .img.capsule {
  background-image: url(../images/capsule-md.jpg);
}

#archive .card .img.moom {
  background-image: url(../images/moom-md.jpg);
}

#archive .card .descrition {
  padding: 21px 16px 18px 24px;
  text-align: left;
}

#archive .card .descrition .title {
  font-size: 20px;
  color: #3e4d60;
  font-weight: 500;
}

#about {
  padding-bottom: 57px;
}

#about .img {
  background-image: url(../images/capsule-md.jpg);
  width: 368px;
  height: 368px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

@media screen and (max-width: 425px) {
  #about .img {
    width: 100%;
    height: 272px;
  }
}

#about .title {
  color: #4a90e2;
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  padding-bottom: 16px;
}

@media screen and (max-width: 425px) {
  #about .title {
    margin-top: 35px;
  }
}

#about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #3e4d60;
  text-align: left;
}

footer {
  border-top: 1px solid #f1f1f2;
  color: #908c8c;
  font-size: 11px;
  line-height: 15px;
  text-align: left;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 76px;
}

/*
 * CAROUSEL
 */
#boxCarousel {
  overflow: hidden;
  position: relative;
}

#boxCarousel .arrow-left {
  position: absolute;
  left: -0.8rem;
  top: 4em;
  z-index: 5;
}

#boxCarousel .arrow-right {
  position: absolute;
  right: -0.8rem;
  top: 4em;
  z-index: 5;
}

#boxCarousel .arrow-left, #boxCarousel .arrow-right {
  font-size: 3em;
  color: #4a90e2;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  #boxCarousel .arrow-left, #boxCarousel .arrow-right {
    display: none;
  }
}

#boxCarousel.custom-padding {
  padding: 0 0.5rem !important;
}

#carousel {
  white-space: nowrap;
  /* Safari */
  transition: transform 1.5s;
}

#carousel > div {
  display: inline-block;
  padding: 0 1rem;
}

#carousel > div .descrition {
  white-space: initial;
}

.fixed-row {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.fullMenu {
  display: block !important;
  position: absolute;
  background: #3b7adb;
  width: 100vw;
  left: 0;
  top: 90px;
  height: 100vh;
}

.fullMenu li {
  text-align: center;
  margin: 36px auto !important;
}

.full-body {
  height: 100%;
  overflow: hidden;
}

.point-control {
  text-align: center;
  padding-top: 1rem;
}

.point-control span {
  margin: 0 8px;
  border-radius: 50%;
  background: #9b9b9b;
  color: #9b9b9b;
  width: 16px;
  height: 16px;
}

.point-control.active span {
  background: #4A90E2;
  color: #4A90E2;
}

.controllsPointe {
  text-align: center;
  margin-top: 1rem;
  display: none;
}

@media screen and (max-width: 425px) {
  .controllsPointe {
    display: block;
  }
}
