// bower:scss
// endbower

/******************************************
 *            TELAS MOBILE                *
 ******************************************/

//  $mobile-small: 320px;
 $mobile-large: 425px;

* { margin: 0; padding: 0; }

body {
  background: #F8F8F8;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

#hero{
  color:#fff;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  // font-weight: 500;
  overflow: hidden;
  .logo{
    float: left;
  }
}

.background {
  // background-image: url(../images/capsule-md-hero.jpg);
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/capsule-md-hero.jpg);
  @media screen and(max-width:$mobile-large){
    background: url(../images/capsule-md-hero.jpg);
    background-size: cover;
    background-position: center;
  }
  background-size: cover;
  background-position: center;
  // height: 662px;
}

.custom-padding{
  padding:0px 23.5px !important;
}
.no-padding{
  padding:0px !important;
}

/*
 * NAVBAR STICKY
 */

$nav-height: 60px;


.sticky-pre-nav{
  perspective: 900px;
  width: 100%;
  z-index:10;
  padding:0 !important;
  position: fixed;
}
.sticky {
  padding-top: 16px !important;
  position: fixed;
  top: 0;
  left: 0;
  background: #3B7ADB;
}

.mx-auto{
  margin: 0 auto;
}

// .sticky + .title-post {
//   padding-top: 60px;
// }
#preNav{
  height:80px;
  width: 100%;
}

.nav-bar{
  padding-top: 51px;
  z-index:10;
  width: 100%;
  @media screen and (max-width: $mobile-large){
    padding-top: 30px;
  }
  .menu{
    display: inline-flex;
    list-style-type: none;
    text-transform: uppercase;
    li{
      margin: 0 1.5rem;
      a{
        text-decoration: none;
        color:white;
      }
    }
    .last{
      margin-right: 0px;  
    }
    @media screen and (max-width: $mobile-large){
      display: none;
    }
  }
  .right{
    float: right;
  }
  .logo{
    float: left;
  }
  .menu-responsive{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    display: none;
    float: right;
    @media screen and (max-width: $mobile-large){
      display: block;

    }
  }
}

.animation-nav-bar{
  animation-name: rotate;
  animation-duration: 1s;
  transform-origin: top;
}

/* The animation code */
@keyframes rotate {
  from {
    background: #3B7ADB;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(45deg);
    transform-style: preserve-3d;
    transform: rotateX(-93deg);
    transform-origin: top;
  }
  to {
    
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg);
    transform-style: preserve-3d;
    transform-origin: top;
    transform: rotateX(0deg);
  }
}



.title-post{
  // height: 256px;
  // width: 567px;
  // position: absolute;
  // top: 195px;
  // left: 136px;
  margin-top: 145px;
  text-align: left;
  margin-bottom: 61px;
  h1{
    text-transform: uppercase;
    font-size: 118px;
    @media screen and(max-width:$mobile-large){
      font-size: 48px;
    }
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    letter-spacing: 0px;
    margin: 0;
    display: inline-block;
  }
  .point{
    background:#4a90e2;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-block;
  }
  p{
    line-height: 24px;
    padding-right: 20px;
    text-align: left;
    font-size: 18px;
    margin-bottom: 61px;
  }
  a{
    background: #4a90e2;
    text-transform: none;
    text-decoration: none;
    color:#FFF;
    padding: 13px 43px;
    font-size: 17px;
    border-radius: 5px;
  }
}

.trending-today{
  // position: relative;
  // top: -21px;
  background:rgba(0, 0, 0, 0.48);
  p{
    text-align: left;
    line-height: 32px;
    // padding: 0px 17px;
    padding-left: 34px;
    padding-right: 50px;
    border-left: 1px solid #FFFFFF;
    margin: 17px 0px;
  }
  .title{
    p{
      text-align: right;
      border: none;
      font-size: 20px;
      line-height: 10px;
    }
    p.blue{
      color:#3B7ADB;
    }
    .content{
      padding-right: 20px;
    }
  }
  .back{
    margin-left: -55px;
  }
  @media screen and (max-width:$mobile-large) {
    display: none;
  }
}

#archive{
  padding-top: 128px;
  padding-bottom: 96px;
  .card{
    background: #FFF;
    border-radius: 10px;
    .img{
      width: 100%;
      height: 309px;
      background-position: center;
      background-size: cover; 
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .img.internal-capsule{
      background-image: url(../images/internal-capsule-md.jpg);
    }
    .img.capsule{
      background-image: url(../images/capsule-md.jpg);
    }
    .img.moom{
      background-image: url(../images/moom-md.jpg);
    }
    .descrition{
      padding: 21px 16px 18px 24px;
      text-align: left;
      .title{
        font-size: 20px;
        color: #3e4d60;
        font-weight: 500;
      }
    }
  }
  
}

#about{
  padding-bottom: 57px;
  .img{
    background-image: url(../images/capsule-md.jpg);
    width: 368px;
    height: 368px;
    @media screen and (max-width: $mobile-large) {
      width: 100%;
      height: 272px;
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    border-radius: 10px;
    
  }
  .title{
    color: #4a90e2;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    padding-bottom: 16px;
    @media screen and (max-width: $mobile-large) {
      margin-top: 35px;
    }
  }
  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #3e4d60;
    text-align: left;
  }
}

footer{
  border-top: 1px solid #f1f1f2;
  color: #908c8c;
  font-size: 11px;
  line-height: 15px;
  text-align: left;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 76px;
}

/*
 * CAROUSEL
 */
 #boxCarousel{
  overflow: hidden;
  position: relative;
    .arrow-left{
      position: absolute;
      left: -0.8rem;
      top: 4em;
      z-index: 5;
    }
    .arrow-right{
      position: absolute;
      right: -0.8rem;;
      top: 4em;
      z-index: 5;
    }
    .arrow-left, .arrow-right{
      font-size: 3em;
      color: #4a90e2;
      cursor: pointer;
      @media screen and(max-width: $mobile-large){
        display: none;
      }
    }
    &.custom-padding{
      padding: 0 0.5rem !important;
    }
  }

 #carousel { 
  white-space: nowrap;
  -webkit-transition: -webkit-transform 1.5s; /* Safari */
  transition: transform 1.5s;
  & > div{
    display: inline-block;
    padding: 0 1rem;
    .descrition{
      white-space: initial;
    }
  }
}

.fixed-row{
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.fullMenu{
  display: block !important;
  position: absolute;
  background: #3b7adb;
  width: 100vw;
  left: 0;
  top: 90px;
  height: 100vh;
  li{
    text-align: center;
    margin: 36px auto !important;
  }
}
.full-body{
  height: 100%; 
  overflow: hidden;
}
.point-control{
  text-align: center;
  padding-top: 1rem;
  span{
    margin: 0 8px;
    border-radius: 50%;
    background: #9b9b9b;
    color:#9b9b9b;
    width: 16px;
    height: 16px;
  }
  &.active{
    span{
      background: #4A90E2;
      color:#4A90E2;
    }
  }
}
.controllsPointe{
  text-align: center;
  margin-top: 1rem;
  display: none;
  @media screen and(max-width:$mobile-large){
    display: block;
  };
}
